
$font-family-public-sans: "Public Sans", sans-serif;
$font-family-bebas-neue: "Bebas Neue", sans-serif;
$color-dark: #3b2e27;
$color-light: antiquewhite;
$color-accent: #876a51;
$color-border: rgb(218, 170, 100);
