@use '../abstracts/variables' as variables;


.btn-menos, .btn-mas, .btn-personalizar {
    padding: 5px 10px;
    border: 1px solid variables.$color-accent;
    background-color: variables.$color-dark;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: variables.$color-accent;
    }

   
    @media (max-width: 768px) {
        padding: 8px 15px; 
        font-size: 14px; 
    }
}

.boton-elegir {
    padding: 5px 10px;
    border: 1px solid variables.$color-accent;
    background-color: variables.$color-dark;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: variables.$color-accent;
    }

  
    @media (max-width: 768px) {
        padding: 8px 15px; 
        font-size: 14px; 
    }
}

