@use '../abstracts/variables' as variables;

.container-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: variables.$color-light;
    margin-top: 100px;
    flex-wrap: wrap;
}

.box-item {
    display: flex;
    flex-direction: column;
    background-color: #4c3d31;
    padding: 20px;
    border: 1px solid variables.$color-accent;
    border-radius: 8px;
    margin: 10px;
}

.box-content {
    display: flex;
    align-items: left;
    justify-content: space-between;
}

.cookie-box-1, .cookie-box-2, .cookie-box-3 {
    width: 200px;
    height: 200px;
    border: 5px solid variables.$color-border;
    border-radius: 4px;
    background-color: variables.$color-dark;
    color: white;
}

.box-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-grow: 1;
}

.precios {
    font-size: 40px;
    font-family: variables.$font-family-public-sans;
    font-weight: 500;
    color: variables.$color-dark;
}

.box-mas-menos-2 {
    display: flex;
    align-items: left;
    gap: 10px;
}

.letra-boxes {
    font-size: 40px;
    font-family: variables.$font-family-bebas-neue;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 10px;
    line-height: 1.2;
}

@media (max-width: 600px) {
    .container-boxes {
        flex-direction: column;
        margin-top: 50px;
    }

    .box-item {
        width: 100%;
        margin: 10px 0;
    }

    .cookie-box-1, .cookie-box-2, .cookie-box-3 {
        width: 100%;
        height: auto;
        border: 3px solid variables.$color-border;
    }

    .letra-boxes {
        font-size: 30px;
    }

    .precios {
        font-size: 30px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .container-boxes {
        flex-wrap: wrap;
        margin-top: 70px;
    }

    .box-item {
        width: 45%;
        margin: 10px;
    }

    .cookie-box-1, .cookie-box-2, .cookie-box-3 {
        width: 180px;
        height: 180px;
    }

    .letra-boxes {
        font-size: 35px;
    }

    .precios {
        font-size: 35px;
    }
}

@media (min-width: 1025px) {
    .box-item {
        width: 30%;
    }

    .cookie-box-1, .cookie-box-2, .cookie-box-3 {
        width: 200px;
        height: 200px;
    }

    .letra-boxes {
        font-size: 40px;
    }

    .precios {
        font-size: 40px;
    }
}
