@use '../abstracts/variables' as variables;


  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .icon {
    width: 40px;
    height: 40px;
    transition: transform 0.2s;
  }
  
  .icon:hover {
    transform: scale(1.2);
  }
  
  
  
  